@model List<cms.Models.web_link>
@if (Model != null)
{
    <div class="section">
        <div class="secondaryContent widget">
            <h3>
                Các trang web liên kết +
            </h3>
            @foreach (var item in Model)
            {
                <div style="margin:0 auto;width:100%;padding: 6px;">
                    <a href="@item.link" target="_blank" title="@item.name">
                        <img src="@item.img" style="width:100%;border: 1px solid #e5e5e5;padding: 2px;" alt="@item.name">
                    </a>
                </div>
            }
        </div>
    </div>
}

