<style>
    #banner_row_left {
        position: relative;
        padding-right: 10px;
    }

    #banner_row img {
        max-width: 100%;
    }

    #banner_row_1 {
        margin: 0px 0px 10px;
    }

    #home_banner_img_1 {
        width: 560px;
    }


    #home_banner_img_2 {
        width: 560px;
    }

    #banner_row_right {
        position: relative;
        width: 560px;
    }

    #banner_row_left,
    #banner_row_right {
        float: left;
        max-width: 50%;
        box-sizing: border-box;
    }

    #banner_row_3 {
        margin: 0px 0px 10px;
    }

    #home_banner_img_3 {
        width: 530px;
    }

    #banner_row_4 {
        margin: 0px 0px 10px;
    }

    #home_banner_img_4 {
        width: 530px;
    }

    #banner_row_5 {
        margin: 0px 0px 10px;
    }

    #home_banner_img_5 {
        width: 530px;
    }
</style>

<div id="banner_row">
    <div id="banner_row_left">
        <div id="banner_row_1">
            <a href="https://hieuvetraitim.com/projects/categories/benh-tim.1/" id="A_4"><img alt="" src="https://hieuvetraitim.com/data/image/khvd/banner1.jpg" id="home_banner_img_1"></a>
        </div>
        <div id="banner_row_2">
            <a href="https://hieuvetraitim.com/projects/categories/ho-ngheo-kho.13/" id="A_7"><img alt="" src="https://hieuvetraitim.com/data/image/khvd/banner2.jpg" id="home_banner_img_2"></a>
        </div>
    </div>

    <div id="banner_row_right">
        <div id="banner_row_3">
            <a href="https://hieuvetraitim.com/projects/categories/bao-tro-tre-em.7/" id="A_11"><img alt="" src="https://hieuvetraitim.com/data/image/khvd/banner3.jpg" id="home_banner_img_3"></a>
        </div>
        <div id="banner_row_4">
            <a href="https://hieuvetraitim.com/projects/categories/thien-tai.11/" id="A_14"><img alt="" src="https://hieuvetraitim.com/data/image/khvd/banner4.jpg" id="home_banner_img_4"></a>
        </div>
        <div id="banner_row_5">
            <a href="https://hieuvetraitim.com/projects/categories/xay-nha-nhan-ai.8/" id="A_17"><img alt="" src="https://hieuvetraitim.com/data/image/khvd/banner5.jpg" id="home_banner_img_5"></a>
        </div>
    </div>
</div>
