

<div id="banner_row">
    <div id="banner_row_left">
        <div class="banner_row">
            <a href="/projects/categories/xay-truong-vn-1/" id="A_4">
                <img alt="" src="~/images/danhmuc/resized-_DSC1133.jpg" class="home_banner_img img-responsive">
            </a>
            <p>Xây trường</p>
        </div>
        <div class="banner_row">
            <a href="/projects/categories/ung-ho-thuc-pham-2/" id="A_7">
                <img alt="" src="~/images/danhmuc/resized-_DSC1143.jpg" class="home_banner_img img-responsive">
            </a>
            <p>Ủng hộ thực phẩm</p>
        </div>
    </div>

    <div id="banner_row_right">
        <div class="banner_row">
            <a href="/projects/categories/ung-ho-quan-ao-3/" id="A_11">
                <img alt="" src="~/images/danhmuc/resized-_DSC0194.jpg" class="home_banner_img img-responsive">
            </a>
            <p>Ủng hộ quần áo</p>
        </div>
        <div class="banner_row">
            <a href="/projects/categories/thong-bao-diem-truong-4/" id="A_14">
                <img alt="" src="~/images/danhmuc/school2.jpg" class="home_banner_img img-responsive">
            </a>
            <p>Thông báo điểm trường</p>
        </div>
        <div class="banner_row">
            <a href="/projects/categories/quy-hoc-bong-5/" id="A_17">
                <img alt="" src="~/images/danhmuc/Lao-Lung-Tung-2.jpg" class="home_banner_img img-responsive">
            </a>
            <p>Quỹ học bổng</p>
        </div>
    </div>
</div>
