@{
    string url = Request.Url.Authority + HttpContext.Current.Request.RawUrl.ToString();
    string host = Request.Url.Authority;
    if (Request.ServerVariables["HTTPS"] == "on")
    {
        url = "https://" + url;
        host = "https://" + host;
    }
    else
    {
        url = "http://" + url;
        host = "http://" + host;
    }

}

@{
    ViewBag.Title = "Đóng góp quỹ xây trường | ";
    ViewBag.Des = "Dự án từ thiện gây quỹ xây trường cho trẻ em vùng cao";
    ViewBag.Keyword = "";
    ViewBag.Author = "";
    ViewBag.TypePage = "";
    ViewBag.thumbnailUrl = "";
    ViewBag.Url = url;
    ViewBag.actived2 = "actived";
    Layout = "~/Views/Shared/xaytruong/_Layout.cshtml";

}

@section submenu {
    <div class="sub_menu_nav" id="home_menu">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="#">Thành viên có nhiều hồ sơ nhất</a></li>
                <li><a href="#">Thành viên được đóng góp nhiều nhất</a></li>
            </ul>
        </div>
    </div>
}


<div id="content">
    <div class="container">
        <div class="row pageContent defaultBorderRadius">
            <div class="mainContainer_noSidebar">
                <div class="page-header">
                    <h1 class="text-center" style="text-transform: uppercase; color: #82b71f;">Thông tin đóng góp</h1>
                </div>

                <div class="xenForm purchaseBreadcrumbs">
                    <ul>
                        <li class="selected">1. ĐÓNG GÓP</li>
                        <li class="">2. THANH TOÁN</li>
                        <li class="">3. CHIA SẺ</li>
                    </ul>
                </div>
                <div class="xenForm" style="line-height: 1.7em; text-align: justify;">
                    <p><em><strong>Cảm ơn bạn đã quan tâm đến dự án Xây Trường vùng cao và đọc tới trang này.</strong></em></p>
                    <p>Mọi sự giúp đỡ đều rất quý giá. Mọi nỗ lực đều đáng trân trọng.</p>
                    <p>
                        Các nhà hảo tâm có thể hỗ trợ về tài chính, về nhân lực, hay đơn giản hơn là chia sẻ thông tin
                        về dự án với bạn bè, qua Facebook….<br> Với mỗi nghĩa cử của bạn, chúng tôi có thể tiến gần hơn
                        với mục tiêu mang tới những thay đổi tích cực cho người dân vùng cao, bắt đầu từ một ngôi trường….
                    </p>
                    <h3><strong>1. Hỗ trợ chi phí xây dựng</strong></h3>
                    <p>Dự án nhận hỗ trợ tài chính qua các kênh sau</p><h3>
                        <em>
                            a. Chuyển khoản
                        </em>
                    </h3><p>
                        SỐ TÀI KHOẢN NHẬN ỦNG HỘ<br>
                        – Tài khoản VIETCOMBANK: 061.100.999.9999<br>
                        – Tài khoản MB BANK: 001.10.999.999.999<br>
                    </p>
                    <p>
                        Khi chuyển khoán, đề nghị quý vị ghi rõ nội dung quyên góp cho dự án Xây trường cho em. &nbsp;
                        Rất mong nhà hảo tâm bớt thêm chút thời gian email cho hòm thư xaytruongchoem@gmail.com
                        hoặc gửi message trong hòm thư Facebook để Nhóm quản lý tiện liên lạc và đối chiếu&nbsp;xác nhận.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
