@{
    string url = Request.Url.Authority + HttpContext.Current.Request.RawUrl.ToString();
    string host = Request.Url.Authority;
    if (Request.ServerVariables["HTTPS"] == "on")
    {
        url = "https://" + url;
        host = "https://" + host;
    }
    else
    {
        url = "http://" + url;
        host = "http://" + host;
    }

}

@{
    ViewBag.Title = "Trang chủ | ";
    ViewBag.Des = "Dự án từ thiện gây quỹ xây trường cho trẻ em vùng cao";
    ViewBag.Keyword = "";
    ViewBag.Author = "";
    ViewBag.TypePage = "";
    ViewBag.thumbnailUrl = "";
    ViewBag.Url = url;
    Layout = "~/Views/Shared/xaytruong/_Layout.cshtml";

}

<div id="content">
    <div class="container">

        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 main_container">

                <div id="maincontainer">
                    @{Html.RenderAction("LoadNewItems", "Home");}

                    @{Html.RenderAction("LoadNewTopItem");}

                    <div class="home_banner_hoz" style="padding-bottom:10px;box-sizing: border-box;max-width:100%;"><a href="https://donggop.hieuvetraitim.com" target="_blank"><img src="https://www.hieuvetraitim.com/data/quangcao/banner-ngang.jpg" style="max-width:100%"></a></div>

                    @{Html.RenderAction("LoadProjectXayTruong");}

                    @Html.Partial("_LoadDanhMuc")
                </div>

            </div>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <div class="sidebar">

                    <div class="section group-b096e">
                        <div style="margin:0 auto; width: 100%;"><a href="#" target="_blank"><img src="https://hieuvetraitim.com/data/image/donate_button.jpg" style="width: 100%"></a></div>
                    </div>

                    <div class="section group-8fae4">
                        <div style="margin:0 auto;width:100%;"><a href="#" target="_blank"><img src="https://hieuvetraitim.com/data/image/calendar.jpg" style="width:100%"></a></div>
                    </div>

                    <div class="section group-e4ba4">

                        <div class="secondaryContent widget sidebar-widget WidgetFramework_WidgetRenderer_Html" id="widget-36">
                            <h3>
                                Hồ sơ hoàn tất
                            </h3>
              
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('.kh-tim a').hover(function () {
                                        $(this).find('span').fadeIn();
                                    },
                                    function () {
                                        $(this).find('span').fadeOut();
                                    });
                                });
                            </script>
                            <div class="kh-tim">
                                <div class="kh-row">
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/69.jpg?1458180618">
                                                <span class="kh-title" style="display: none;">Trần Đặng Minh Thư</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/58.jpg?1458180562">
                                                <span class="kh-title" style="display: none;">Trẻ em mồ côi chùa Lá</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/1.jpg?1458178893">
                                                <span class="kh-title" style="display: none;">Em Tài cần thêm 13,5 triệu giành lại sự sống</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="kh-row">
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/84.jpg?1458180712">
                                                <span class="kh-title" style="display: none;">Bé Kiều Tiên bị Tứ chứng Fallot</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/55.jpg?1458180543">
                                                <span class="kh-title" style="display: none;">Bệnh em Văn Hào trở nặng hơn</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/101.jpg?1458180813">
                                                <span class="kh-title" style="display: none;">Bệnh Hạnh Như ngày càng nặng vì không có tiền</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="kh-row">
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/203.jpg?1458181329">
                                                <span class="kh-title" style="display: none;">Thạch Thị Vi Sa</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/233.jpg?1458181491">
                                                <span class="kh-title" style="display: none;">Trung thu cho 2.000 trẻ em nghèo</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/85.jpg?1458180712">
                                                <span class="kh-title" style="display: none;">Hãy cứu bé Phan Phạm Gia Lộc</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>




                    <div class="section widgets-28380">



                        <div class="secondaryContent widget sidebar-widget" id="widget-51">
                            <h3>

                                Đại sứ trái tim

                            </h3>
                            <div class="kh-tim">
                                <div class="kh-row">
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/69.jpg?1458180618">
                                                <span class="kh-title" style="display: none;">Trần Đặng Minh Thư</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/58.jpg?1458180562">
                                                <span class="kh-title" style="display: none;">Trẻ em mồ côi chùa Lá</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/1.jpg?1458178893">
                                                <span class="kh-title" style="display: none;">Em Tài cần thêm 13,5 triệu giành lại sự sống</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="kh-row">
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/84.jpg?1458180712">
                                                <span class="kh-title" style="display: none;">Bé Kiều Tiên bị Tứ chứng Fallot</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/55.jpg?1458180543">
                                                <span class="kh-title" style="display: none;">Bệnh em Văn Hào trở nặng hơn</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/101.jpg?1458180813">
                                                <span class="kh-title" style="display: none;">Bệnh Hạnh Như ngày càng nặng vì không có tiền</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="kh-row">
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/203.jpg?1458181329">
                                                <span class="kh-title" style="display: none;">Thạch Thị Vi Sa</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/233.jpg?1458181491">
                                                <span class="kh-title" style="display: none;">Trung thu cho 2.000 trẻ em nghèo</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="kh-col">
                                        <div class="kh-padding">
                                            <a href="#" target="_blank">
                                                <img src="https://hieuvetraitim.com/data/tinhte_project_icons/0/85.jpg?1458180712">
                                                <span class="kh-title" style="display: none;">Hãy cứu bé Phan Phạm Gia Lộc</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>










                    <div class="section group-d816f">

                        <div style="width: 100%;">
                            <div class="fb-page" data-href="https://www.facebook.com/ThueXeVnCom/" data-tabs="timeline" data-width="390" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ThueXeVnCom/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ThueXeVnCom/">Thuexevn.com</a></blockquote></div>
                        </div>

                        <div id="fb-root"></div>
                        <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



                    </div>





                    <div class="section widgets-a5771">



                        <div style="width:100%;margin: 0 auto"><a href="https://hieuvetraitim.com/projects/" target="_blank"><img src="https://hieuvetraitim.com/data/quangcao/banner-phai-1.png" style="width:100%"></a></div>



                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<!-- /.row -->

<!-- Cirlce Starts -->
<section id="about">
    <div class="container">
        <div class="page-header text-center wowload fadeInUp">
            <h1>Gây quỹ xây trường cho em</h1>
        </div>
        <div class="row">           
            <div class="col-md-6 wowload fadeInLeft col">
                <h3 class="text-center"><i class="fa fa-paint-brush fa-4x" style="display: block; text-align: center; margin-bottom: 5px;"></i>Mục đích</h3>
                <p class="text-justify">
                    Trẻ em ở khắp nước ta vẫn còn rất nhiều khó khăn, có những nơi vùng xa xôi hẻo lánh, các em không được đến trường, thiếu
                    ăn thiếu mặc, hoặc được đến trường mà nhà tranh vách đất, gió lùa rét căm căm mùa đông, nắng soi qua đầu mùa hạ.
                </p>

            </div>
            <div class="col-md-6 wowload fadeInRight col">
                <h3 class="text-center"><i class="fa fa-code fa-4x" style="display: block; text-align: center; margin-bottom: 5px;"></i> Thiện nguyện</h3>
                <p class="text-justify">Chúng tôi kết nối những tấm lòng thiện nguyện chung tay ủng hộ, mang đến và động viên các em đến trường, thêm cái áo, tấm chăm, giúp cái bảng, cái bàn cái ghế, xây những ngôi trường cho các em được đến trường, vì các em là tương lai của chính chúng ta, của đất nước này</p>
            </div>
        </div>
    </div>
        
</section>

<section class="process">
    <div class="container">
        <div class="page-header">
            <h1 class="text-center wowload fadeInUp">Quy trình ủng hộ</h1>
        </div>
        <div class="row">

            <ul class="text-center list-inline  wowload bounceInUp">
                <li>
                    <a href="#"><i class="fa fa-history fa-3x"></i>Khảo sát các điểm trường</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-puzzle-piece fa-3x"></i>Lên kế hoạch ủng hộ</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-database  fa-3x"></i>Gây quỹ</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-magic  fa-3x"></i>Xây trường</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cloud-upload  fa-3x"></i>Bàn giao</a>
                </li>
            </ul>
        </div>
    </div>

</section>
<!-- #Cirlce Ends -->
<!--Contact Starts-->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1 class="text-center  wowload fadeInUp">Gửi địa điểm mới</h1>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="contactform">
                    <input type="text" id="fname" placeholder="Họ tên">
                    <input type="text" id="phone" placeholder="Số điện thoại">
                    <textarea rows="5" id="message" placeholder="Nội dung"></textarea>
                    <button type="button" class="btn btn-primary" onclick="AddNew();">Gửi</button>
                </div>
            </div>

        </div>
    </div>
    
</section>
<!--Contact Ends-->
<script>
    function AddNew() {
        var formdata = new FormData(); //FormData object
        var name = document.getElementById("fname").value;
        var phone = document.getElementById("phone").value;
        var message = document.getElementById("message").value;

        //var depth=@ViewBag.depth;
        if (name == "") {
            alert("Nhập họ tên");
            document.getElementById("fname").focus();
            return;
        }
        if (phone == "") {
            alert("Nhập số điện thoại");
            document.getElementById("phone").focus();
            return;
        }
        if (message == "") {
            alert("Nhập nội dung");
            document.getElementById("message").focus();
            return;
        }
        formdata.append("name", name);
        formdata.append("phone", phone);
        formdata.append("message", message);

        //formdata.append("depth", depth);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Home/Add_New_Gopy');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == "1") {
                    alert("Bạn đã gửi nội dung thành công! Trân trọng cảm ơn sự đóng góp của bạn!");
                    window.location.href = "/Home/Index";
                } else {
                    alert("Lỗi mạng");
                }
            }

        }
    }
    function searchsaoke() {
        window.location.href = "/ThongKe/List?name=" + document.getElementById("namesaoke").value;
    }
    function autosearch() {
        var keyword = document.getElementById("namesaoke").value;
        urlSearch = '/ThongKe/autosearch?keyword=';
        $('#namesaoke').autocomplete({
            source: urlSearch + keyword,
            select: function (event, ui) {
                $(event.target).val(ui.item.value);
                return false;
            },
            minLength: 1
        });
    }
</script>





@section scripts {
    <script src="~/Content/xaytruong/jquery.flexslider-min.js"></script>

    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: true,
                directionNav: true,
                draggable: false,
            });
        });

        function getDayLeft(s, d) {
            $(s).countdown(d)
            .on('update.countdown', function (event) {
                var format = '';
                if (event.offset.totalDays > 0) {
                    format = 'Còn lại %-d ngày';
                }
                //if (event.offset.weeks > 0) {
                //    format = 'Còn lại %-w tuần %!w ' + format;
                //}
                if (event.offset.totalDays = 0) {
                    format = 'Hoàn tất';
                }
                $(this).html(event.strftime(format));
            })
            .on('finish.countdown', function (event) {
                $(this).html(event.strftime(format));

            });
        }

    </script>

}