<ul class="nav" id="side-menu">
    <li>
        <a href="/" target="_blank"><i class="fa icon-home fa-fw"></i> Trang chủ</a>
    </li>
    
    <li>
        <a href="#"><i class="fa fa-list fa-fw"></i> Quản lý danh mục <span class="fa arrow"></span></a>
        @*<ul class="nav nav-second-level">
            <li><a href="#">Quản lý danh mục</a></li>
            <li>@Html.RouteLink("Danh sách danh mục", "AdminListCat")</li>
        </ul>*@
    </li>

    <li>
        <a href="#"><i class="fa fa-product-hunt fa-fw"></i> Quản lý dự án <span class="fa arrow"></span></a>
    </li>
</ul>

